@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
body, html, #root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  background: #18181b;
  color: #fff;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  background: #23232b;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
}
body.modal-open {
  overflow: hidden !important;
  touch-action: none !important;
}


